---
import GithubButton from "./GithubButton.astro"

interface Props {
    name: string,
    description: string,
    img: string,
    tech: string[][],
    link: string
}

const { name, description, img, tech , link} = Astro.props
---

<div class="cardContainer">
    <div class="card">
        <h2 class="name">{name}</h2>
        <div class="imgContainer"><img src={img} alt={name}/></div>
        <p class="description">{description}</p>
        <div class="link">
            <GithubButton link={link}/>
        </div>
        <nav class="link"></nav>
    </div>
    <div class="tech">
        {tech.map((t) => (
            <div class="imgContainerTech">
                <img src=`https://img.shields.io/badge/${t[0]}-${t[1].replace("#","")}?style=for-the-badge&logo=${t[0]}&logoColor=white` alt="tech"/>
            </div>
        ))}
    </div>
</div>

<style>
    .cardContainer{
        margin-left: 2vw;
        margin-right: 3vw;
        border: 2px solid rgb(255, 255, 255);
        border-radius: 24px;
        background-color: rgba(0, 0, 0, 0.432);
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }

    .card{
        display: grid;
        grid-template-rows: repeat(3, max-content);
        row-gap: 1.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
         "name img"
         "description img"
         "link img";
        margin-block: 1rem;
        margin-inline: 1.5vw;
    }
    .name {
        grid-area: name;
        font-size: clamp(1em, 2.5vw, 2.5em);
        font-family: "aldrich", sans-serif;
        margin-bottom: 0;
        margin: 0;
    }
    .imgContainer {
        grid-area: img;
        display: flex;
        justify-content: center;
        height: max-content;
        justify-self: center;
        align-self: center;
        transition: scale 0.5s ease-out;
    }
    .imgContainer:hover{
        scale: 1.1;
    }
    img{
        flex: 1;
        height: max-content;
        width: 100%;
        object-fit: contain;
        border-radius: 16px;
    }
    .description {
        opacity: 0.85;
        margin:0;
        grid-area: description;
        font-size: clamp(1em, 2vw, 2em);
    }
    @media screen and (max-width: 800px){
        .card{
            grid-template-rows: repeat(4, max-content);
            grid-template-columns: 1fr;
            grid-template-areas: 
            "name"
            "img"
            "description"
            "link";
        }
        .name{
            text-align: center;
            font-size: 2rem;
        }
        .description {
            font-size: 1rem;
        }
    
    }
    .link {
        align-self: flex-end;
        grid-area: link;
        font-size: 1rem;
    }
    .tech {
        grid-area: tech;
        font-size: 1rem;
        display: flex;
        margin-top: 0.5em;
        gap: 1rem;
        border-top: 2px solid rgb(255, 255, 255);
        background-color: rgba(0, 0, 0, 0.432);
        padding: 0.5rem;
    }
    .imgContainerTech{
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
        width: max-content;
        border-radius: 12px;
        overflow: hidden;
    }
</style>